<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}{% block subtitle %}{% endblock %}</title>
        <link rel="canonical" href="{{site-url}}{{uri}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        {% style "css/screen.css" %}
    </head>
    <body>
        <div class=" cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
            <header>
                <div class="masthead-brand mb-auto">
                    <a class="masthead-brand-link" href="{{index-uri}}">{{title}}</a>
                </div>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="fas fa-home nav-link active" href="{{index-uri}}"></a>
                    <a class="fas fa-archive nav-link" href="{{archives-uri}}"></a>
                    <a class="fas fa-rss nav-link" href="{{rss-uri}}"></a>
                    {% for nav-page in navbar-pages %}
                    <a class="nav-link" href="{{nav-page.uri}}">{{nav-page.title}}</a>
                    {% endfor %}
                </nav>
            </header>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer class="blog-footer">
            <p class="container">
                Powered by <a href="http://cryogenweb.org">Cryogen</a><br>
                Copyright &copy; {{today|date:yyyy}} {{author}} | <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license"><i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i><i class="fab fa-creative-commons-sa"></i></a>
            </p>
        </footer>
        {% if post.klipse %} {{post.klipse|safe}} {% endif %}
        {% if page.klipse %} {{page.klipse|safe}} {% endif %}
    </body>
</html>
